.feed-item {
    width: 100%;
    padding: 10px 0px;
    border-top: 10px solid var(--color-main-skyblue);
}

.feed-item:last-child {
    border-bottom: 10px solid var(--color-main-skyblue);
}

.feed-item h3 {
    font-family: inherit;
    font-size: 10px;
    margin-left: 15px;
}

.feed-item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.feed-item p {
    font-family: inherit;
    font-size: 15px;
    margin-left: 45px;
}