@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.login {
    display: block;
    margin: 215px auto 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    width: 388px;
    height: 350px;
}

.user-request {
    margin-top: 40px;
    text-align: center;
}

.register-link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.register-link:active, :visited{
    color: var(--color-main-blue);
}

.sub-images {
    margin-top: 60px;
}

.sub-image {
    display: block;
    margin: 0 auto;
}