.footer {
    /* width: 100%; */
    width: 428px;
    height: 80px;
    border-top: 2px solid var(--color-main-skyblue);
    position: fixed;
    bottom: 0;
    /* position: relative;
    transform: translateY(-100%); */
    background-color: white;
}

.bottom-navs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

.bottom-nav{
    padding: 10px 0px;
}

.home-btn {
    /* width: 32px; */
    height: 27px;
    color: var(--color-main-grey);
    cursor: pointer;
}

.play-btn{
    height: 20px;
    background-color: var(--color-main-skyblue);
    border: 1px soild var(--color-main-skyblue);
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
    padding: 16px;
    color: #fff;
    cursor: pointer;
}

.exit-btn{
    height: 30px;
    color: var(--color-main-grey);
    cursor: pointer;
}